main {
    
    // SECTION 1
    .section-1 {
        position: relative;
        padding: 100px 0;
        background-image: url(../assets/img/home-background.png);

        .call-to-action-link {
            width: 130px;
            background-color: black;
            font-size: 8px;
            padding: 5px;

            position: absolute;
            top: 0;
            left: 15px;
        }
        .my-container {
            display: flex;
            justify-content: space-between;


            .section-text {
                width: 50%;

                img {
                    width: 40px;
                }
            }
            .section-img {
                width: 50%;
            }
        }
    }
    // SECTION 2
    .section-2 {

        .section-top {
            text-align: center;

            .mini-container {
                max-width: 300px;
                margin: auto;

                p {
                    font-size: 12px;
                }
            }
        }
        .section-bottom {
            border: 1px solid #ECECEE;

            .card-container {
                display: flex;
                
                
                .my-card {
                    width: calc(100% / 5);
                    color:#E56768;
                    padding: 20px;
                    border-left: 1px solid #ECECEE;
                    border-right: 1px solid #ECECEE;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 80px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    // SECTION 3
    .section-3 {
        background-image: url(../assets/svg/svg-0.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-x: left;
        padding: 60px 0 220px 0;
        

        .my-container {
            display: flex;

            .section-image {
                width: 50%;

            }
            .section-text {
                width: 50%;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;

                p {
                    font-size: 12px;
                }
                button {
                    background-color: #E56768;
                    font-size: 12px;
                }
            }
        }
    }
    // SECTION 4
    .section-4 {
        background-color: #E56768;

        padding: 30px 0;
        color: white;

        .section-top {
            text-align: center;
            margin-bottom: 40px;

            img {
                width: 50px;
                margin-bottom: 15px;
            }
            h2 {
                background-color: #db2a2c;

                display: inline;
            }
        }
        .section-bottom {
            height: 400px;
            background-image: url(../assets/img/Timeline-Item.png);
            background-repeat: no-repeat;
            background-position:center;

            position: relative;

                div {
                    width: 320px;
                    text-align: center;
                }
                h4 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                }

                .text-1 {
                    position: absolute;
                    top: 75%;
                }
                .text-2 {
                    position: absolute;
                    top: 10%;
                    left: 22%;
                }
                .text-3 {
                    position: absolute;
                    top: 75%;
                    left: 45%;
                }
                .text-4 {
                    position: absolute;
                    top: 10%;
                    left: 68%;
                }
        }
    }
    // SECTION 5
    .section-5 {
        background-color:#E56768;
        color: white;

        .section-top {
            text-align: center;

            img {
                width: 50px;
                margin-bottom: 15px;
            }
        }
        .section-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;

            .card-container {
                display: flex;
                justify-content: space-between;

                .my-card {
                    width: calc(100% / 3 - 20px);
                    background-color: white;
                    color: black;
                    padding: 30px 20px;
                    border-radius: 15px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    span,p {
                        font-size: 12px;
                        margin-bottom: 10px;
                    }

                    button {
                        background-color: #E56768;
                        font-size: 12px;
                        position: absolute;
                        top: 90%;
                    }
                }
            }
            .view-all-button {
                margin: 40px 0;
                font-size: 14px;
            }
        }
    }
    // SECTION 6
    .section-6 {
        background-image: url(../assets/svg/svg-1.svg);
        background-repeat: no-repeat;
        background-position: top left;
        padding: 140px 0;

        .card-container {
            display: flex;
            justify-content: space-between;

            .my-card {
                width: calc(100% / 4 - 20px);
                border: 1px solid #ECECEE;
                text-align: center;
                padding: 30px;

                position: relative;

                img {
                    width: 60px;
                    margin-bottom: 20px;
                }

                span {
                    font-size: 12px;
                }

                

                button {
                    width: 150px;
                    font-size: 12px;
                    background-color: #E56768;
                    padding: 8px 10px;

                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50% , -50%)
                }
            }
        }
    }
    // SECTION 7
    .section-7 {

        .my-container {
            display: flex;

            .text-section {
                width: 50%;
                padding: 30px;

                img {
                    width: 50px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 12px;
                }
            }
            .img-section {
                width: 50%;
                padding: 50px;
            }
            button {
                background-color: #E56768;
                font-size: 12px;
            }
        }
    }
    // SECTION 7
    .section-8 {
        background-color: darkkhaki;
        padding: 30px 0;

        .container {
            display: flex;

            .text-section {
                width: 50%;
            }
            .img-section {
                width: 50%;
            }
        }
    }
    // SECTION 9
    .section-9 {
        background-color: chartreuse;
        padding: 30px 0;

        .container {
            display: flex;
            justify-content: space-between;
        }
    }
    // SECTION 10
    .section-10 {
        background-color: cornflowerblue;
        padding: 30px 0;

        .container {
            text-align: center;
        }
    }
}