@use "./partials/appHeader.scss" as *;
@use "./partials/appMain.scss" as *;
@use "./partials/appFooter.scss" as *;
@import "node_modules/bootstrap/scss/bootstrap";

* {
    font-family: 'Fredoka One', cursive;
}

// COLORS VARIABLES
:root {
    --main-yellow: #E9D758;
    --main-red: #E56768;
    --secondary-red: #db2a2c;
}

.my-container-small {
    max-width: 800px;
    margin: 0 auto;
}

.my-container {
    max-width: 1000px;
    margin: 0 auto;
}

// BASIC BUTTON
button {
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    color: white;
    background-color: var(--main-yellow);
}
// BASIC INPUT
.email-input {
    position: relative;

    input {
        width: 350px;
        padding: 15px 20px;
        border-radius: 30px;
        border: none;

        &:focus {
            outline: none;
        }
              
    }
    button {
        border-radius: 50px;
        padding: 15px 20px;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
}

main {
    p,
    button {
        font-size: 12px;
    }
}

a {
    color: white;
    text-decoration: none;
}