@use "./partials/appHeader.scss" as *;
@use "./partials/appMain.scss" as *;
@use "./partials/appFooter.scss" as *;
@import "node_modules/bootstrap/scss/bootstrap";

* {
    font-family: 'Fredoka One', cursive;
}

.my-container-small {
    max-width: 800px;
    margin: 0 auto;
}

.my-container {
    max-width: 1000px;
    margin: 0 auto;
}

button {
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    color: white;
    background-color: #E9D758;
}

.email-input {
    position: relative;

    input {
        width: 350px;
        padding: 15px 20px;
        border-radius: 30px;
        border: none;      
    }
    button {
        border-radius: 50px;
        padding: 15px 20px;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
}

a {
    color: white;
    text-decoration: none;
}